*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "Mozilla Headline", sans-serif;
    align-items: center;
    background-color: rgb(201, 177, 224);
}
nav{
    width: 100%;
    height: 75px;
    box-shadow: 0px 3px 2px palevioletred;
    background-color: aliceblue;
    display: flex;
    font-family: "Mozilla Headline", sans-serif;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
ul{
    display: flex;
    list-style: none;
    gap:50px;

}
li a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(166, 7, 70);
    font-weight: 100;
}
li a:hover{
    color: brown;
    border-bottom: 3px solid palevioletred;
    padding-bottom: 20px;
}
main{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(196, 127, 93); */
}
section{
    width: 100%;
    height: 550px;
    overflow: hidden;
    /* background-color: blanchedalmond; */
    position: relative;
}
.slide{
    width: 100%;
    height:100% ;
    position: absolute;
    opacity: 0;
    animation: Photes 15s infinite;    
}
.slide img{
    width:100% ;
    height:100%;
}
.slide:nth-child(1){
    animation-delay: 0s;
}
.slide:nth-child(2){
    animation-delay: 3s;
}
.slide:nth-child(1){
    animation-delay: 6s;
}
.slide:nth-child(1){
    animation-delay: 9s;
}
@keyframes Photes{
    0%{
        opacity: 0;
    }
    18%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.section1{
    width: 100%;
    height: 200px;
}
.section1 .text .our{
    position: absolute;
    display: flex;
    top: 100px;
    gap: 10px;
}
.section1 .text{
    display: flex;
    position: relative;
    justify-content: center;
   align-items: center;
}
.section1 .text h1{
    display: flex;
    font-size: 60px;
    color: rgb(9, 12, 12);
    justify-content: center;
    align-items: center;
    padding-top: 68px;
    position: relative;
    opacity: 0.5;

    

}
.section1 .text .our p{
    font-size: 45px;
    color:rgb(227, 38, 66);
    margin-top:-25px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section1 .text .our span{
    width: 40px;
    border-top: 5px solid red;
    height: 100px;
}
.container{
    width: 100%;
    height: 600px;
    display: flex;
   background-color: rgb(239, 206, 218);
}
.container .ride-side{
    width: 50%;
    height: 100%;

}
.container .left-side{
    border-right: 3px solid rgb(162, 118, 220);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-left: 10px;
    padding: 15px;
    
}
.container .left-side .box1{
    width: 50%;
    height: 50%;
    padding: 15px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 219, 215);
    animation: box1 2s ease-in-out;
    border: 4px solid royalblue;
    box-shadow: 3px 0px 3px 3px rgb(162, 136, 136);
    

}
@keyframes box1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.container .left-side .box1 .photo{
    /* padding-top: 30px; */
    bottom: 60px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-items: center;
    margin: 60px;
    /* background-color: rgb(246, 246, 246); */
    /* clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 0); */
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.photo img{
    width: 100%;
    height: 100%;
}
.container .left-side button{
    padding: 15px 20px;
   margin-left: 20px;
    border: none;
    color: aliceblue;
    border-radius: 15px;
    background-color: rgb(153, 107, 107);
   margin-bottom: 10px;
   margin-top: 300px;

}


.container .ride-side button{
    padding: 15px 20px;
   margin-left: 20px;
    border: none;
    color: aliceblue;
    border-radius: 15px;
    background-color: brown;
   margin-bottom: 10px;
   margin-top: 15px;
}
.container .ride-side .box2{
    width: 50%;
    height: 50%;
    padding: 15px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(180, 206, 237);
    /* animation: box1 2s ease-in-out; */
    border: 5px dotted yellowgreen;
    box-shadow: 5px 5px 5px black;
    margin: 20px;
    margin-top: 200px;
}
.container .ride-side .box2 .photo1{
    /* padding-top: 10px; */
    width: 100px;
    height: 100px;
    display: flex;
    justify-items: center;
    margin: 60px;
    position: relative;
    bottom: 30px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    /* clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 8% 12%, 75% 25%, 100% 100%, 6% 84%, 25% 100%, 100% 100%, 100% 0%); */
}
.photo1 img{
    width: 100%;
    height: 100%;
}
.container2{
    width: 100%;
    height: 100px;
    /* background-color: aquamarine; */
}
.container2 .box1{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap:20px ;
    overflow-x: auto;
}
.container2 .box1 .date{
    width: 20%;
    height: 50%;
    background-color: blueviolet;
    border: 3px white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
   color: beige;
   padding: 5px;
   flex-shrink: 0;
}
.box1::-webkit-scrollbar{
    display: none;
}
.container3{
    width: 100%;
    height: 800px;
    /* background-color: black; */
}
.row1{
    width: 100%;
    height: 50%;
    /* background-color: antiquewhite; */
   display: flex;
}
.row2{
    width: 100%;
    height: 50%;
    /* background-color: brown; */
    display: flex;
}
.col1{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
}
.col1 img{
    width: 100%;
    height: 100%;

}

.col2{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
}
.row1-1{
    width: 100%;
    height: 50%;
    /* background-color: deepskyblue; */
    display: flex;
}
.row1-1 img{

    width: 50%;
    border-radius: 40px;
}

.row1-2{
    width: 100%;
    height: 50%;
    /* background-color: aliceblue; */
    display: flex;
}
.row1-2 img{
    width: 50%;
    border-radius: 40px;

}
.col11{
    width: 50%;
    height: 100%;
    /* background-color: azure; */
}
.col11 img{
    width: 100%;
    height: 100%;

}
.row1-3{
    width: 100%;
    height: 50%;
    /* background-color: rgb(228, 238, 242); */
    display: flex;

}
.col22{
    width: 50%;
    height: 100%;
    /* background-color: blanchedalmond; */
}
.row1-3 img{
    width: 50%;
    border-radius: 20px;
}
.row1-4{
    width: 100%;
    height: 50%;
    display: flex;
    margin-bottom: 10px;
    
}
.row1-4 img{
    width: 50%;
    height: 100%;
    border-radius: 20px;
}










